body{
    font-family: 'Lobster', cursive;
    margin: 20px;
}
.color{
    color: darkred;
}
.hadding-color{
    color: tomato;
    text-decoration: underline;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.top{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 5px;
    margin-bottom: 50px;
}
.half-width img{
    width: 50%;
    height: 80%;
    padding-left: 200px;
}
.allienment{
    text-align: justify;
}
.button{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(darkred, tomato);
    border-radius: 15px;
    padding: 10px 10px;
    margin-right: 5px;
    font-weight: 200;
}
.gap{
    margin-top: 40px;
}
.start{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.half-width2{
    width: 50%;
    padding-left: 5px;
    margin-bottom: 50px;
}
.half-width2 img{
    width: 50%;
    padding-left: 20px;
    
}
.middle{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 5px;
}
footer{
    text-align: center;
    font-size: 15px;
    margin-bottom: 10px;
    color: rgb(105, 105, 185);
}
.final1{
    margin-bottom:50px;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    
}
#final2-1{
    width: 40%;
    margin-left: 300px;
    padding: 20px;
    box-shadow: 10px 10px 20px black;
    border-radius: 5px;
    margin-bottom: 2%;
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
#final2-2{
    width: 40%;
    margin-left: 300px;
    padding: 20px;
    box-shadow: 10px 10px 20px black;
    border-radius: 5px;
    margin-bottom: 2%;
    border-left: 7px solid;
    border-image: linear-gradient(rgb(95, 95, 190), rgba(60, 255, 0, 0.699));
    border-image-slice: 1;
}
#final2-3{
    width: 40%;
    margin-left: 300px;
    padding: 20px;
    box-shadow: 10px 10px 20px black;
    border-radius: 5px;
    margin-bottom: 2%;
    border-left: 7px solid;
    border-image: linear-gradient(rgb(233, 181, 11), rgb(211, 17, 98));
    border-image-slice: 1;
}
.final2{
    margin-top: 5%;
}
